This notebook will be mainly used for the capstone project.

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import folium # map rendering library
import requests # library to handle requests
import random # library for random number generation
from IPython.display import Image 
from IPython.core.display import HTML 
from pandas import json_normalize

In [2]:
CLIENT_ID = 'CPKUF5JGHYZMWBIX1BMCK3QM30NIHWJ2IDCQHN1CRBX4UW2G' # your Foursquare ID
CLIENT_SECRET = 'A5M21YUKPT00LNTFW42W0SNORNWXQEBGCH0EK31SRGEEIALF' # your Foursquare Secret
ACCESS_TOKEN = '1S4LQ2H4DTD411ZHPV3QWDMNPGKNPX2OWH4AL1QZJZHCYSSF' # your FourSquare Access Token
VERSION = '20180604'
LIMIT = 50
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: CPKUF5JGHYZMWBIX1BMCK3QM30NIHWJ2IDCQHN1CRBX4UW2G
CLIENT_SECRET:A5M21YUKPT00LNTFW42W0SNORNWXQEBGCH0EK31SRGEEIALF

In [ ]:
def folium_map():

    latitude, longitude = (45.676998, -111.042931)

    venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel


    # add the Italian restaurants as blue circle markers
    for lat, lng, label in zip(dataframe_filtered.lat, dataframe_filtered.lng, dataframe_filtered.categories):
        folium.CircleMarker(
            [lat, lng],
            radius=5,
            color='blue',
            popup=label,
            fill = True,
            fill_color='blue',
            fill_opacity=0.6
        ).add_to(venues_map)

    # display map
    venues_map

In [3]:
def venues(categories, city, ratings = False):
    cat_dict = {"Country Dance Club": "52e81612bcbc57f1066b79ef", "Dance Studio":"4bf58dd8d48988d134941735", "Salsa Club": "52e81612bcbc57f1066b79ec", 
              "Gym":"4bf58dd8d48988d176941735", "Pilates Studio":"5744ccdfe4b0c0459246b4b2", "Yoga Studio": "4bf58dd8d48988d102941735", 
             "Skating Rink":"4bf58dd8d48988d168941735", "Lake": "4bf58dd8d48988d161941735", "Concert Hall": "5032792091d4c4b30a586d5c" }
    ids = ",".join([cat_dict[x] for x in categories])
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&near={}&oauth_token={}&v={}&limit={}&categoryId={}'.format(CLIENT_ID, CLIENT_SECRET, city, ACCESS_TOKEN, VERSION, LIMIT, ids)
    results = requests.get(url).json()
    venues = results['response']['venues']
    df = pd.json_normalize(venues)
    
    def clean_df(df):
        filtered_columns = ['name', 'categories'] + [col for col in df.columns if col.startswith('location.')] + ['id']
        new_df = df.loc[:, filtered_columns]

        def get_category_type(row):
            try:
                categories_list = row['categories']
            except:
                categories_list = row['venue.categories']

            if len(categories_list) == 0:
                return None
            else:
                return categories_list[0]['name']

        new_df['categories'] = new_df.apply(get_category_type, axis=1)
        new_df.columns = [column.split('.')[-1] for column in new_df.columns]
        new_df = new_df[new_df['categories'].isin(categories)]
        return new_df
    
    df = clean_df(df)
    if ratings:
        def rating(venue_id):
            url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&oauth_token={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET,ACCESS_TOKEN, VERSION)
            result = requests.get(url).json()
            try:
                rating = result['response']['venue']['rating']
                return rating
            except:
                return None

        ratings = list(map(rating, df['id'].to_list()))
        df.insert(df.shape[1], "rating", ratings, allow_duplicates=True)
        
    return df

In [46]:
country_dance_club = "52e81612bcbc57f1066b79ef"
dance_studio = "4bf58dd8d48988d134941735"
salsa_club = "52e81612bcbc57f1066b79ec"
gym = "4bf58dd8d48988d176941735"
pilates = "5744ccdfe4b0c0459246b4b2"
yoga = "4bf58dd8d48988d102941735"
concert_hall = "5032792091d4c4b30a586d5c"
skating_rink = "4bf58dd8d48988d168941735"
lake = "4bf58dd8d48988d161941735"

#categories = ",".join([gym, country_dance_club, dance_studio, salsa_club, pilates, yoga, concert_hall, skating_rink, lake])
cities = ["Billings, MT", "Missoula, MT", "Bozeman, MT", "Boise, ID", "Meridian, ID", "Coeur d'Alene, ID", "Fargo, ND", "Sioux Falls, SD", "Rapid City, SD", "Lincoln, NE", "Omaha, NE", "Bellevue, NE"]
categories = ["Gym", "Yoga Studio", "Pilates Studio", "Country Dance Club", "Dance Studio", "Salsa Club", "Skating Rink", "Lake", "Concert Hall"]

In [33]:

for city in cities:
    df = venues(categories, city, ratings = True)
    df.to_csv("{}.csv".format(city))

In [14]:
bzm = pd.read_csv("Bozeman, MT.csv")
del bzm['Unnamed: 0']
bzm_count = bzm.groupby('categories').count()['name'].to_dict()
bzm_perc = dict([(x, bzm_count[x] / bzm.shape[0]) for x in bzm_count.keys()])
data = {}
data['Bozeman, MT'] = bzm_perc
df = pd.DataFrame(data)
df

                Bozeman, MT
Concert Hall       0.028571
Dance Studio       0.085714
Gym                0.371429
Lake               0.200000
Pilates Studio     0.028571
Skating Rink       0.057143
Yoga Studio        0.228571

In [44]:
def perc(dic, key, denom):
    value = dic.get(key)
    if value is None:
        return 0
    else:
        return value / denom

In [47]:
data = {}
for category in categories:
for city in cities:
    city_df = pd.read_csv("{}.csv".format(city))
    del city_df['Unnamed: 0']
    venue_count = city_df.groupby('categories').count()['name'].to_dict()
    venue_perc = []    
        venue_perc.append((category, perc(venue_count, category, city_df.shape[0])))
    data[city] = venue_perc
df = pd.DataFrame(data)
df

{'Gym': 0.6857142857142857, 'Yoga Studio': 0.08571428571428572, 'Pilates Studio': 0.02857142857142857, 'Country Dance Club': 0, 'Dance Studio': 0.08571428571428572, 'Salsa Club': 0, 'Skating Rink': 0.02857142857142857, 'Lake': 0.02857142857142857, 'Concert Hall': 0.05714285714285714}
{'Gym': 0.4878048780487805, 'Yoga Studio': 0.14634146341463414, 'Pilates Studio': 0.024390243902439025, 'Country Dance Club': 0, 'Dance Studio': 0.17073170731707318, 'Salsa Club': 0.024390243902439025, 'Skating Rink': 0.024390243902439025, 'Lake': 0.0975609756097561, 'Concert Hall': 0.024390243902439025}
{'Gym': 0.37142857142857144, 'Yoga Studio': 0.22857142857142856, 'Pilates Studio': 0.02857142857142857, 'Country Dance Club': 0, 'Dance Studio': 0.08571428571428572, 'Salsa Club': 0, 'Skating Rink': 0.05714285714285714, 'Lake': 0.2, 'Concert Hall': 0.02857142857142857}
{'Gym': 0.4878048780487805, 'Yoga Studio': 0.07317073170731707, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0.17073170731707318, 'Salsa Club': 0, 'Skating Rink': 0, 'Lake': 0.21951219512195122, 'Concert Hall': 0.04878048780487805}
{'Gym': 0.4878048780487805, 'Yoga Studio': 0.07317073170731707, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0.17073170731707318, 'Salsa Club': 0, 'Skating Rink': 0, 'Lake': 0.21951219512195122, 'Concert Hall': 0.04878048780487805}
{'Gym': 0.225, 'Yoga Studio': 0.025, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0.075, 'Salsa Club': 0, 'Skating Rink': 0, 'Lake': 0.65, 'Concert Hall': 0.025}
{'Gym': 0.5, 'Yoga Studio': 0.06521739130434782, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0.08695652173913043, 'Salsa Club': 0, 'Skating Rink': 0.17391304347826086, 'Lake': 0.08695652173913043, 'Concert Hall': 0.08695652173913043}
{'Gym': 0.65, 'Yoga Studio': 0.1, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0, 'Salsa Club': 0.025, 'Skating Rink': 0.025, 'Lake': 0.15, 'Concert Hall': 0.05}
{'Gym': 0.4594594594594595, 'Yoga Studio': 0.02702702702702703, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0.1891891891891892, 'Salsa Club': 0, 'Skating Rink': 0.08108108108108109, 'Lake': 0.21621621621621623, 'Concert Hall': 0.02702702702702703}
{'Gym': 0.4, 'Yoga Studio': 0.05714285714285714, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0.14285714285714285, 'Salsa Club': 0, 'Skating Rink': 0.02857142857142857, 'Lake': 0.3142857142857143, 'Concert Hall': 0.05714285714285714}
{'Gym': 0.42424242424242425, 'Yoga Studio': 0.030303030303030304, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0.030303030303030304, 'Salsa Club': 0, 'Skating Rink': 0.06060606060606061, 'Lake': 0.42424242424242425, 'Concert Hall': 0.030303030303030304}
{'Gym': 0.4375, 'Yoga Studio': 0.03125, 'Pilates Studio': 0, 'Country Dance Club': 0, 'Dance Studio': 0.03125, 'Salsa Club': 0, 'Skating Rink': 0.0625, 'Lake': 0.40625, 'Concert Hall': 0.03125}

,"Billings, MT","Missoula, MT","Bozeman, MT","Boise, ID","Meridian, ID","Coeur d'Alene, ID","Fargo, ND","Sioux Falls, SD","Rapid City, SD","Lincoln, NE","Omaha, NE","Bellevue, NE"
Gym,0.685714,0.487805,0.371429,0.487805,0.487805,0.225,0.500000,0.650,0.459459,0.400000,0.424242,0.43750
Yoga Studio,0.085714,0.146341,0.228571,0.073171,0.073171,0.025,0.065217,0.100,0.027027,0.057143,0.030303,0.03125
Pilates Studio,0.028571,0.024390,0.028571,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000,0.000000,0.00000
Country Dance Club,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000,0.000000,0.000000,0.000000,0.00000
Dance Studio,0.085714,0.170732,0.085714,0.170732,0.170732,0.075,0.086957,0.000,0.189189,0.142857,0.030303,0.03125
Salsa Club,0.000000,0.024390,0.000000,0.000000,0.000000,0.000,0.000000,0.025,0.000000,0.000000,0.000000,0.00000
Skating Rink,0.028571,0.024390,0.057143,0.000000,0.000000,0.000,0.173913,0.025,0.081081,0.028571,0.060606,0.06250
Lake,0.028571,0.097561,0.200000,0.219512,0.219512,0.650,0.086957,0.150,0.216216,0.314286,0.424242,0.40625
Concert Hall,0.057143,0.024390,0.028571,0.048780,0.048780,0.025,0.086957,0.050,0.027027,0.057143,0.030303,0.03125

In [48]:
k_means = KMeans(init="k-means++", n_clusters=4, n_init=12)

In [50]:
k_means.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=12, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [51]:
k_means_labels = k_means.labels_
k_means_labels

array([1, 0, 3, 3, 0, 3, 3, 2, 3], dtype=int32)

In [35]:
d = {0: 0, 1: 1}

In [36]:
d[0]

0

In [37]:
d[2]

KeyError: 2

In [38]:
d.get(0)

0

In [39]:
d.get(1)

1

In [41]:
e = d.get(2)

In [42]:
e is None

True